-title 'NewsNetwork'
-hide_page_title
.row
  .eightcol
    =google_map([], :width => "100%", :height => 300, :zoom => 1)
.row
  =render :partial => 'themes/trending'
  .shout_wall.tencol.last
    %h4 Stories
  
