-content_for :head do
  :javascript
    function styleIt(map) {
    var grayStyles = [
      {
        featureType: "water",
        elementType: "geometry",
        stylers: [
          { lightness: 0 },
          { saturation: -90 }
        ]
      },
      {
        featureType: "landscape",
        elementType: "geometry",
        stylers: [
          { lightness: +100 }
        ]
      },
      {
        featureType: "poi.park",
        elementType: "geometry",
        stylers: [
          { lightness: +100 }
        ]
      },
      {
        featureType: "road",
        elementType: "all",
        stylers: [
          { saturation: -100 },
          { hue: "#333333" }
        ]
      }
    ];


    var styledMapOptions = {
      name: "Gray Map"
    }

    var grayMapType = new google.maps.StyledMapType(
    grayStyles, styledMapOptions);

    map.mapTypes.set('gray', grayMapType);
    map.setMapTypeId('gray');
    }
    
-no_content_row
-title 'NewsNetwork', :hidden => true
.row
  .eightcol
    =google_map([], :width => "100%", :height => 300, :zoom => 1, :map_options => "scrollwheel:false,mapTypeControl:false,streetViewControl:false", :other => "styleIt(map);")
.row
  =render :partial => 'themes/trending'
  .shout_wall.tencol.last
    %h4 Stories
  
