%li{:id => "grid_item_story_#{story.id}"}
  =link_to(photo_for(story, "226x226#", :width => 226, :height => 226), story, :class => 'story_grid_image')
  .story_grid_info
    =link_to_self(story, :title => story)
