-unless cookies[:hide_beta_bar]
  #beta_bar
    .container
      .row
        .twelvecol
          %p
            The PICNIC website is a work in progress. 
            %span.click_here_beta
              Click here to read more about the beta.
          =link_to "Hide", '#', :id => 'hide_beta_bar_link'