.row
  #footer_sitemap.twelvecol.last
  #picnic_section.sitemap_list.twocol
    %h3=link_to 'Festival', '#'
    %ul 
      %li
        =link_to_slug("News", :news)
      %li
        =link_to_slug("Overview", :overview)
      %li
        =link_to_slug("Themes", :themes)
      %li
        =link_to_slug("Registration", :registration)
  #club.sitemap_list.twocol
    %h3=link_to 'Club', '#'
    %ul 
      %li
        =link_to "intro", "/club"
      %li
        =link_to "Connections", "/connections"
      %li
        =link_to "Leaderboards", "/leaderboard"
      %li
        =link_to "Sign up", :controller=> 'members', :action=> 'new' 
  #about.sitemap_list.twocol
    %h3=link_to 'About', '#'
    %ul 
      %li
        =link_to_slug("What is PICNIC", :what_is_picnic)
      %li
        =link_to_slug("Press room", :press_room)
      %li
        =link_to_slug("Stay in touch", :stay_in_touch)
      %li
        =link_to_slug("Contact", :contact)
  #footer_copyright.twelvecol.last
    %p
      ©2011 PICNIC. All rights reserved.      