-if false
  .footer_box
    Other
    %strong v
    sites
    %br
    =link_to("vinspired.com", "http://vinspired.com", :target => "_blank")
    %br
    =link_to("Big Society's Big Mouth", "http://bigsocietysbigmouth.org", :target => "_blank")
  .footer_box
    Get social
    %br
    =link_to("Facebook", "#")
    %br
    =link_to("Twitter", "#")
    %br
    =link_to("YouTube", "#")
  .footer_box_right
    =link_to("v Network", "#")
    %br
    =link_to_slug("Contact us", :contact_us)
    %br
    =link_to("Site map", sections_path)
    %br
    \&copy;
    %strong v
    2011 Registered Charity No. 1113255
  =#link_to("site by", "http://www.yoomee.com", :id => "siteby")