.row
  #footer_sitemap.twelvecol.last
    %h2
      Sitemap
  #club.sitemap_list.twocol
    %h3=link_to 'Club', '#'
    %ul 
      %li
        =link_to 'Intro', '#'
      %li
        =link_to 'Sessions', '#'
      %li
        =link_to 'Themes', '#'
      %li
        =link_to 'Registration', '#'
  #picnic_section.sitemap_list.twocol
    %h3=link_to 'PICNIC11', '#'
    %ul 
      %li
        =link_to 'Intro', '#'
      %li
        =link_to 'Sessions', '#'
      %li
        =link_to 'Themes', '#'
      %li
        =link_to 'Registration', '#'
  #about.sitemap_list.twocol
    %h3=link_to 'About', '#'
    %ul 
      %li
        =link_to 'History', '#'
      %li
        =link_to 'Press room', '#'
      %li
        =link_to 'Press releases', '#'
      %li
        =link_to 'Contact', '#'        
  #footer_copyright.twelvecol.last
    %p
      ©2011 PICNIC. All rights reserved.      