#footer.container
  .row
    #footer_sitemap.twelvecol.last
    #picnic_section.sitemap_list.twocol
      %h3=link_to 'Festival', '#'
      %ul 
        %li
          =link_to_slug("News", :news)
        %li
          =link_to_slug("Overview", :overview)
        %li
          =link_to_slug("Themes", :themes)
        %li
          =link_to_slug("Registration", :registration)
    #club.sitemap_list.twocol
      %h3=link_to 'Club', '#'
      %ul 
        %li
          =link_to "Intro", "/club"
        %li
          =link_to "Connections", "/connections"
        %li
          =link_to "Leaderboards", "/leaderboard"
        %li
          =link_to "Sign up", :controller=> 'members', :action=> 'new' 
    #about.sitemap_list.twocol
      %h3=link_to 'About', '#'
      %ul 
        %li
          =link_to_slug("What is PICNIC", :what_is_picnic)
        %li
          =link_to_slug("Press room", :press_room)
        %li
          =link_to_slug("Stay in touch", :stay_in_touch)
        %li
          =link_to_slug("Contact", :contact)
#iamsterdam.container
  .row          
    .twelvecol.last.no_padding
      =link_to 'Iamsterdam', 'http://www.iamsterdam.com/', :target=>'blank'
#sponsors.container      
  .row      
    #premium_sponsors_title.twelvecol.last      
      %p Premium Sponsors
    #lottery_sponsor.sponsor.twocol
      =link_to_slug('Postcodeloterij', :npl)
      =#link_to 'Postcodeloterij', 'http://www.postcodeloterij.nl/', :target=>'blank'  
    #vodaphone_sponsor.sponsor.twocol  
      =link_to_slug('Vodaphone', :vodaphone)
      =#link_to 'Vodaphone', 'http://www.vodafone.nl/', :target=>'blank'  
    #waag_sponsor.sponsor.twocol  
      =link_to_slug('Waag Society', :waag_society)  
    
    #sponsors_title.twelvecol.last      
      %p Sponsors
    #upc_sponsor.sponsor.twocol
      =link_to_slug('UPC', :upc)
      =#link_to 'UPC', 'http://www.upc.nl/', :target=>'blank'
    #chamber_sponsor.sponsor.twocol
      =link_to_slug('Dutch Chamber of Commerce', :chamber_of_commerce)
      =#link_to 'Dutch Chamber of Commerce', 'http://www.kvk.nl/', :target=>'blank'
    #rtl_sponsor.sponsor.threecol  
      =link_to_slug('RTL', :rtl)
      =#link_to 'RTL', 'http://www.rtl.nl/service/rtlnederland/home/', :target=>'blank'
    #sii_sponsor.sponsor.twocol   
      =link_to_slug('SII', :sii)
      =#link_to 'SII', 'http://www.si-i.nl/', :target=>'blank'
    #logica_sponsor.sponsor.twocol.last   
      =link_to_slug('Logica', :logica)
      =#link_to 'Logica', 'http://www.logica.com/', :target=>'blank'
    #sponsors_divider.twelvecol.last      
    #microsoft_sponsor.sponsor.twocol.last
      =link_to_slug('Microsoft', :microsoft)
    #bmw_sponsor.sponsor.twocol.last
      =link_to_slug('BMW', :bmw)
    #footer_copyright.twelvecol.last
      %p
        ©2011 PICNIC. All rights reserved.
        =link_to("Legal stuff", Page.slug(:legal))
      =link_to "<span class='yoomee_text'>Online platform by</span><span class='yoomee_logo'>yoomee</span>", 'http://www.yoomee.com/', :target=>'blank', :id=>'yoomee_link'