%h1#site_logo
  =link_to 'V Logo', home_path
#header_right
  #user_links
    =link_to("Members", "#")
    -if logged_in?
      =link_if_allowed('Admin', admin_proc)
      =link_to('Logout', session_path, :method => :delete)
      %strong=link_to_self(@logged_in_member)
    -else
      =link_to('login', new_session_path)
  #search_box
    %form{ :action => "/search/results", :method => "post" }
      %input#search_field{ :name => "term", :type => "text", :value => "Search", :onfocus => "var element = document.getElementById('search_field');element.value='';" }
      %input#search_icon{ :name => "commit", :title => "search", :value => "search" }      
  #nav
    %ul
      %li=link_to("Home", home_path)
      %li=link_to_slug("About", :about_us)
      %li=link_to_slug("Our work", :our_work)
      %li=link_to("Blog", Blog.main)
      %li=link_to("Get involved", "#")