%h1#site_logo
  =link_to "PICNIC", root_path
#header_right
  #top_box
    #user_links
      -if logged_in?
        =link_if_allowed('Admin', admin_proc)
        %strong=link_to_self(@logged_in_member)
        =link_to('Logout', session_path, :method => :delete)
      -else
        =link_to('Login', new_session_path)
        =link_to("Signup", new_member_path)
