%h1#site_logo
  =link_to "PICNIC", root_path
#header_right
  #top_box
    #user_links
      -if logged_in?
        .logged_in_as
          Logged in as
          =link_to_self(logged_in_member)
        .panel
          -link_to logged_in_member do
            =image_for(logged_in_member, '20x') 
            My profile
          =link_if_allowed('Admin', admin_proc)
          =link_to('Logout', session_path, :method => :delete)
      -else
        =link_to('Login', new_session_path, :class => 'button')
        =link_to("Signup", register_new_member_path, :class => 'button')
