%h1#site_logo
  =link_to "v", "#"
#header_right
  #top_box
    #search_box
      %form{ :action => "/search/results", :method => "post" }
        %input#search_field{ :name => "term", :type => "text", :value => "Search", :onfocus => "var element = document.getElementById('search_field');element.value='';" }
        %input#search_icon{ :name => "commit", :title => "search", :value => "search" }      
    #user_links
      -if logged_in?
        =link_if_allowed('Admin', admin_proc)
        %strong=link_to_self(@logged_in_member)
        =link_to('Logout', session_path, :method => :delete)
      -else
        =link_to('Login', new_session_path)        
  =render("layouts/nav")
  =render("layouts/subnav")