-if !current_root_section.nil?
  #subnav
    %ul
      -current_root_section.all_children.each do |page_or_section|
        =li_with_active(viewing_page_or_section?(page_or_section), link_to_self(page_or_section))
      -if current_root_section.slug == "picnic11"
        =li_with_active(controller_name =~ /programmes|conference_sessions|venues/, link_to("Programme", programme_path))
      