h1#site_logo a {
	background-image: url(/images/sprite_picnic.gif);
}
#hide_beta_bar_link, input#search_field {
	background-image: url(/images/sprite.gif);
}
#search_box, ul#logged_out_nav li a {
	display:inline;
}
#logged_in_as ul li a {
	float:right;
}
#logged_in_as ul li {
	float:none;
}
#logged_in_as ul {
	float:none;
}
span.end {
	display:none;
}