-content_for :head do
  =themes_facelist_javascript(:tag_list => conference_session.tag_list, :intro_text => "e.g. mobility", :prefix => 'conference_session')
  :javascript
    $(document).ready(function() {
      $('.datetime').datepicker({
        duration: '',
        dateFormat: 'dd/mm/yy',
        minDate: '#{conference_session.conference.starts_on.strftime("%d/%m/%y")}',
        maxDate: '#{conference_session.conference.ends_on.strftime("%d/%m/%y")}',
        showTime: true,
        constrainInput: false,
        stepMinutes: 1,
        stepHours: 1,
        altTimeField: '',
        time24h: true
      });  
    });
-semantic_form_for conference_session, :html => {:multipart => true} do |form|
  -form.inputs do
    =form.input :duplicate_of, :as => :hidden
    =form.input :conference_id, :as => :hidden
    =form.input :name
    =form.input :venue, :prompt => "Select a venue...", :collection => conference_session.conference.venues
    =form.input :formatted_starts_at, :label => 'Starts at', :as => :string, :input_html => {:class => 'datetime'}
    =form.input :formatted_ends_at, :label => 'Ends at', :as => :string, :input_html => {:class => 'datetime'}
    =form.input :description, :input_html => {:rows => 12}
    %li
      %label Speakers
    =multiple_nested_inputs_for :conference_sessions_members, :collection => conference_session.conference_sessions_members.speaker.sort{|x,y| x.member.surname.sub(/^(van\s)?(de\s)?(\221t\s)?/,'') <=> y.member.surname.sub(/^(van\s)?(de\s)?(\221t\s)?/,'') },:form => form, :label => false, :add_link_text => "Add a speaker"
    
    %li
      %label Themes
    %li.text
      =text_field_tag :conference_session_themes_text, "", :onkeypress => "return event.keyCode!=13"
    =form.input :image, :as => :image
  -form.buttons do
    =form.submit "Save"