-title "Sessions"
-if @conference_sessions.empty?
  %p.intro
    There are no sessions currently on the system. Click
    =link_to 'here', new_conference_session_path
    to create one.
-else
  %p.intro
    The following sessions are on the system. Click one to view more details.
  %br.clear
  %ul.lst
    -@conference_sessions.each do |conference_session|
      %li=link_to_self conference_session
-options_panel do
  =link_if_allowed 'New session', new_conference_session_proc