-no_content_row
-hidden_title @conference_session
.row

  #header_left_col.threecol
    #top_color_left.top_color{:style => "background:#{@conference_session.color}"}
    .page_header 
      %p.stories_header
        PICNIC
        %strong SESSION
        %br
        =link_to("VIEW PROGRAM", conference_programme_path(@conference_session.conference), :id => "view_archive")

    
  #header_right_col.ninecol.last  
    #top_color_right.top_color{:style => "background:#{@conference_session.color}"}
    .page_header 
      %h1#page_title=@conference_session
.row
      
  .threecol
    =image_for(@conference_session, '450x', :id => "session_image") if @conference_session.has_image?
    =render('themes/list', :tags => @conference_session.tags, :list_id => "conference_session_#{@conference_session.id}_themes")
    %br.clear
    -if !@conference_session.speakers.blank?
      %h5 Speakers
      %ul.lst
        -@conference_session.speakers.each do |speaker|
          %li.speaker_list_item
            =link_to(image_for(speaker, "60x60#"), speaker)
            .right
              =link_to_self(speaker)
              %span=speaker.job_title
  .ninecol.last
    %dl.datetime
      %dt Date
      %dd
        Day
        =@conference_session.conference_day
        =bracket(@conference_session.starts_at.strftime("%A %e %B"))
      %dt Time
      %dd=@conference_session.time_string
      -if @conference_session.venue
        %dt Venue
        %dd=link_to_self(@conference_session.venue)
    =render('conference_sessions/attend_link', :session => @conference_session)
    %br.clear
    =simple_format(@conference_session.description)
    %hr
    %h5#attendees_list_title
      Attendees
    #attendees_list
      -if @conference_session.attendees.blank?
        #no_one_attending
          No one has said that they are attending yet.
          =link_to_remote("Be the first!", :url => attend_conference_session_path(session))
      -else
        -@conference_session.attendees.random.limit(42).each do |member|
          =link_to(image_for(member, "50x50#"), member, :title => member, :id => "attendee_#{member.id}", :class => "attendee")
    
.row
  .twelvecol
    -options_panel do
      =back_link
      =link_if_allowed "Edit session", edit_conference_session_proc(@conference_session)
      =link_if_allowed "Delete session", conference_session_proc(@conference_session), :method => :delete, :confirm => "Are you sure?"
      =link_if_allowed "Duplicate session", duplicate_conference_session_proc(@conference_session)