-content_for :head do
  :javascript
    function validatePressForm()
    {
      var valid = true;
      $('#press_form .error').removeClass('error');
      $('#press_form :input').each(function(index){
        if ($(this).val() == null || $(this).val() == '' || ($(this).attr('id') == '00ND0000003mct9' && $(this).val() == 'None')){
          $(this).parents('li').addClass('error');
          valid = false
        }
        if(!$('#primary_interests :checked').length){
          $('#primary_interests').addClass('error');
          valid = false;
        }
      });
      if (!valid) {
        $('#all_fields').addClass('error');
        $('#all_fields').show();
        $('html, body').scrollTop($('#all_fields').offset().top - 100);
      }
      return valid;
    }
-form_tag("https://www.salesforce.com/servlet/servlet.WebToLead?encoding=UTF-8", {:onSubmit => "return validatePressForm()", :class => "formtastic", :id => "press_form"}) do
  %ol
    %li=hidden_field_tag 'oid', '00DD0000000m1XL'
    %li=hidden_field_tag 'retURL', 'http://www.picnicnetwork.org/pages/190'
    %li#all_fields{:style => "display:none"}
      =label_tag "all_fields", "All information is required. Please fill in the fields in red."
    %li
      =label_tag "first_name"
      =text_field_tag("first_name", nil, :maxlength => 40, :size => 20)
      
    %li.fl
      =label_tag"last_name"
      =text_field_tag("last_name", nil, :maxlength => 80, :size => 20)
      
    %li
      =label_tag"email"
      =text_field_tag("email", nil, :maxlength => 80, :size => 20)

    %li
      =label_tag"mobile"
      =text_field_tag("mobile", nil, :maxlength => 40, :size => 20)
    
    %li
      =label_tag "URL", "Website"
      =text_field_tag("URL", nil, :maxlength => 80, :size => 20)
      
    %li
      =label_tag "city"
      =text_field_tag("city", nil, :maxlength => 40, :size => 20)
      
    %li
      =label_tag "country"
      =text_field_tag("country", nil, :maxlength => 40, :size => 20)
      
    %li
      =label_tag "company", "Primary publication"
      =text_field_tag("company", nil, :maxlength => 40, :size => 20)
    
    %li
      =label_tag "00ND0000003mct4", "Additional publications"
      =text_area_tag("00ND0000003mct4", nil, :wrap => "soft")

    
    %li
      =label_tag "00ND0000003mct9", "Primary medium"
      =select_tag "00ND0000003mct9", options_for_select(["None", "Print", "Web", "TV", "Radio", "Other"])

    %li#primary_interests
      =label_tag "00ND0000003mcsq", "Primary interests"
      -["Infrastructure", "Sustainability", "Society", "Design", "Media", "Business", "Education"].each do |opt|
        =check_box_tag "00ND0000003mcsq[]", opt
        =opt
        %br.clear    
      
    %li
      =hidden_field_tag 'lead_source', 'Press Pass Request'
    %li
      =submit_tag "Submit"