%p
  Dear
  =@conference_delegate.firstname

%p
  You have just (been) registered for a ticket to the PICNIC Innovation Mash Up that will take place on May 15th in lovely Amsterdam. Look forward to some serious inspiration, sharing, co-creating, networking and fun. 

%p
  But why limit your participation to this PICNIC event only? Join our online community and stay in touch with PICNIC throughout the year.

%p
  The PICNIC Community provides all the great stuff that the PICNIC Festival offers and more. You can engage with other PICNIC community members, former speakers and PICNIC team members. Have fun, experiment and share ideas and conversations year round. Of course, the PICNIC Community will also introduce you to the people who you'll bump into during PICNIC events in Amsterdam and abroad.

%p
  =link_to('So join the PICNIC Club now!',"#{APP_CONFIG['site_url']}#{verify_delegate_path(:signature => @conference_delegate.signature)}")

%p
  It's free, open to all and easy: just fill in your email address and find a password. Or log in with your Facebook, Twitter or LinkedIn account.

%p
  Also, you are warmly invited to keep in touch with PICNIC via our Facebook, Twitter and LinkedIn groups and to sign up via the PICNIC Web site at www.picnicnetwork.org to receive our monthly email newsletter.
 
%p
  =link_to('Join the club now',"#{APP_CONFIG['site_url']}#{verify_delegate_path(:signature => @conference_delegate.signature)}")

%p
  Sincerely,

%p
  The PICNIC Team