%p
  Dear
  =@conference_delegate.firstname

%p
  You have just (been) registered for a ticket to PICNIC Festival 2011, that will take place between 14-16 September 2011 in lovely Amsterdam. So you will have some serious inspiration, sharing, co-creating, networking and fun coming up. 

%p
  But why limit that to the PICNIC Festival alone, which takes place only once a year? We can't think of any reason. So don't wait any longer and join us also for the rest of the year in the PICNIC Club! 

%p
  The PICNIC Club provides all the great stuff that the PICNIC Festival offers, and more. You can engage with other PICNIC Clubbers, former PICNIC speakers and team members. Have fun, experiment and share ideas and conversations with them year round. And of course: the PICNIC Club will also show you who you can bump into during the PICNIC Festival in Amsterdam. 
New features will be added through the year to keep the Club exciting for you. 

%p
  So join the PICNIC Club now! It's free, open to all and easy: just fill in your email address and find a password. Or - how simple can it get - log-in with your Facebook, Twitter or LinkedIn account.

%p
  =link_to('Join the club now',"#{APP_CONFIG['site_url']}#{verify_delegate_path(:signature => @conference_delegate.signature)}")

%p
  Welcome to the Club!

%p
  The PICNIC Team.