%p
  Hi
  =@conference_delegate.firstname

%p
  Thanks for booking onto the PICNIC Festival!

%p
  Come and join the club, it's awesome!

%p
  See you soon,
  %br
  ="The #{APP_CONFIG['site_name']} Team"