-x = FlipcolTemplate::X1
-y = FlipcolTemplate::Y1
.flip.x1.y1
  =link_to(image_or_photo_for(flipitem, "#{x}x#{y}#"),flipitem)
  .hover
    .padding
      %h6 FESTIVAL 2011
    .text1
      Presenting
      %br
      =flipitem