-x = FlipcolTemplate::X1
-y = FlipcolTemplate::Y1
.flip.x1.y1
  =link_to(image_or_photo_for(flipitem, "#{x}x#{y}#"),flipitem)
  -link_to(flipitem, :class => "hover flip_info", :style => "background-color:#{flipitem.color}") do
    .padding
      %h6 FESTIVAL 2011
      .text3{:style => "color:#{complementary_color(flipitem.color)}"}
        Presenting
        %br
        =flipitem