-x = (FlipcolTemplate::X1 * 2) + FlipcolTemplate::MARGIN
-y = (FlipcolTemplate::Y1 * 2) + FlipcolTemplate::MARGIN
.flip.x2.y2
  =link_to(image_or_photo_for(flipitem, "#{x}x#{y}#"),flipitem)
  .hover
    .padding
      %h6 FESTIVAL 2011
      .text1
        Presenting
        %br
        =flipitem
      .text2
        =truncate(flipitem.bio, :length => 100)