-x = (FlipcolTemplate::X1 * 2) + FlipcolTemplate::MARGIN
-y = FlipcolTemplate::Y1
.flip.x2.y1
  .flip_border_top{:style => "background:#{flipitem.color}"}
  -link_to(flipitem, :class => "flip_info x2 y1", :style => "background-color:#{flipitem.color}") do
    .padding
      .text3{:style => "color:#{complementary_color(flipitem.color)}"}
        Presenting
        %br
        =flipitem
    .flip_footer  
      FESTIVAL 2012