-x = (FlipcolTemplate::X1 * 2) + FlipcolTemplate::MARGIN
-y = (FlipcolTemplate::Y1 * 2) + FlipcolTemplate::MARGIN
.flip.x2.y3
  .flip_info.x2.y1{:style => "background-color:#{flipitem.color}"}
    .padding
      %h6 FESTIVAL 2011
      .text1{:style => "color:#{complementary_color(flipitem.color)}"}
        Presenting
        %br
        =flipitem
  =link_to(image_or_photo_for(flipitem, "#{x}x#{y}#"),flipitem)