-form.inputs do
  =form.input :name
  =form.input :email_address
  =form.input :comments, :as => :text, :input_html => {:rows => 5}
  -if form.object.validate_spam_answer
    =form.input :spam_answer, :as => :hidden
  -else
    =form.input :spam_answer, :label => form.object.spam_question, :help => "Please help us keep the bots off our Picnic blanket by answering this question:", :input_html => {:value => ''}
      