- semantic_form_for @blog_post_category do |f|
  -f.inputs do
    =f.input :name
    =f.input :description, :input_html => {:rows => 10, :cols => 248}
    =f.input :is_project, :label => 'Tick here if the category is the name of a project'
  =f.buttons
