-title Blog.main.name

=render("blogs/nav")
#page_content
  %p=link_to("&larr; View all posts", Blog.main)
  -if @blog_post_category.blog_posts.empty?
    %p
      There are no blogs posts filed under
      ="#{@blog_post_category.name}."
  =render :partial => "blogs/blog_post", :collection => @blog_post_category.blog_posts, :as => :blog_post
    
-options_panel do
  =back_link
  =link_if_allowed "Manage blog categories", blog_post_categories_proc
  =link_if_allowed "New Blog Post", new_blog_blog_post_proc(@blog)