-if !page.section.root? || page.section.page_and_section_descendant_generations == 1
  %ul.lst
    -page.section.all_children(:published_only => !admin_logged_in?).each do |page_or_section|
      =li_with_active(viewing_page_or_section?(page_or_section), link_to_self(page_or_section))
