-x = (FlipcolTemplate::X1 / 1.5).ceil
-y = (FlipcolTemplate::Y1 / 1.5).ceil
.flip.flip_sponsor.x1.y1
  .padding
    %h6 FESTIVAL SPONSOR  
  =link_to(image_or_photo_for(flipitem, "#{x}x#{y}"),flipitem)