=render :partial => 'front_cover', :front_cover => @front_cover
-options_panel do
  =back_link
  =link_to 'Edit', edit_front_cover_path(@front_cover)
  =link_to 'Delete', @front_cover, :method => :delete, :confirm => 'Are you sure?'
  -if @front_cover.activated?
    =link_to 'Deactivate', deactivate_front_cover_path(@front_cover), :method => :post, :confirm => 'Are you sure you want to deactivate this as the site front page?'
  -else
    =link_to 'Activate', activate_front_cover_path(@front_cover), :method => :post, :confirm => 'Are you sure you want to set this as a site front page?'