="Hi #{@recipient.forename},"

="#{@friend_request.member.full_name} would like to join your picnic."
  
="Use the following link to allow #{@friend_request.member.forename} to sit on your blanket:"

=site_url + notifications_path

Thanks,
="The #{site_name} team,"
=site_url