-items = @search_filter.blank? ? search.results(:shouts) : search.results(@search_filter)
#search_results_shouts.search_results_list
  .search_results_header
  %ul.lst
    -items.each do |shout|
      %li.search_result_item
        =render_shout(shout, :compact_view => true, :search_term => search.term)
  =search_results_view_all_link(search, :shouts)