.row
  =render :partial => 'themes/trending'
  .tencol.last
    -@tags.each_with_col_name do |tag, column_name|
      %div{:class => column_name}
        .theme
          -link_to tag do
            =image_for(tag, '282x200')
            %h5=tag
          %p=truncate(tag.description, :length => 120)
          -if allowed_to?(edit_tag_proc(tag))
            .theme_links
              =link_to("Edit", edit_tag_path(tag))
              =link_to("Delete", tag, :method => :delete, :confirm => "Are you sure?")
.row
  -options_panel do
    =back_link
    =link_if_allowed("Add a theme", new_tag_proc)