#trending_themes.twocol
  %h4 Trending themes
  %ul.lst
    -#Tag.top_tags_since(1.month.ago).limit(10).each do |tag|
    -trending_tags_including_conference(10).each do |tag|
      %li
        =link_to_tag tag#, :class=>'tag'
