-no_content_row
.row
  -title 'Correspondents'
  -hide_page_title
  #page_subnav.twocol
    Correspondent filters to go here
  #page_content{:class => "eightcol last"}
    #page_left_col
      %h1 Correspondents
      =render("members/grid", :members => @correspondents)