:javascript
  $(document).ready(function() {
    $('body').bind('keydown','right',function(){
      Flipboard.direction = 1;
      Flipboard.startFastScroll();
    });
    $('body').bind('keyup','right',function(){
      Flipboard.startSlowScroll();
    });
    $('body').bind('keydown','left',function(){
      Flipboard.direction = -1;
      Flipboard.startFastScroll();
    });
    $('body').bind('keyup','left',function(){
      Flipboard.startSlowScroll();
    });
    $('#flipboard_left').mousedown(function() {
      Flipboard.direction = 1;      
      Flipboard.startFastScroll();
    });
    $('#flipboard_right').mousedown(function() {
      Flipboard.direction = -1;
      Flipboard.startFastScroll();
    });
    $('#flipboard_left, #flipboard_right').mouseup(function() {
      Flipboard.startSlowScroll();
    });
    $('#flipboard_left, #flipboard_right').mouseleave(function() {
      Flipboard.startSlowScroll();
    });
    $('#flipboard .flip').has('.hover').hover(
      function() {
        Flipboard.hoverOn($(this));
      }, function(){
        Flipboard.hoverOff($(this));
      });
    setTimeout("if($(window).scrollTop() < 600){Flipboard.startSlowScroll();}", 5000);
    $(window).scroll(function(){
      if ($(window).scrollTop() < 600){
        Flipboard.startSlowScroll();
      } else {
       Flipboard.stopAllScrolling();
      }
    });
    $('.flip a').attr('onClick', "Flipboard.stopAllScrolling();return true;");
    $('#flipboard_wrapper').bind('touchstart',function(e){
      if(e.originalEvent.touches.length == 1){
        var touch = e.originalEvent.targetTouches[0];
        Flipboard.touchStartOffset = $('#flipboard').position().left - touch.pageX;
      }
    });    
    $('#flipboard_wrapper').bind('touchmove',function(e){
      if(e.originalEvent.touches.length == 1){
        e.preventDefault();
        Flipboard.stopAllScrolling();
        var touch = e.originalEvent.targetTouches[0];                
        var newPosition = Flipboard.touchStartOffset  + touch.pageX;
        if ((newPosition <= Flipboard.maxLeft) && (newPosition >= Flipboard.maxRight())) {     
          $('#flipboard').css('left',newPosition);
        }
      }
    });
    $('#flipboard_wrapper').bind('touchend',function(e){
        Flipboard.startSlowScroll();
    });
    if (#{!current_page?('/news')}){
      if(navigator.platform == 'iPad' || navigator.platform == 'iPhone' || navigator.platform == 'iPod'){
        setTimeout("window.scrollTo(0,617);",100);
      } else {
        $(window).scrollTop(617);
      }
    }

  });


#flipboard_wrapper{:style => "display:block"}
  #flipboard_strip
    #flipboard{:style => "width: #{flipboard_content.size*(FlipcolTemplate::X1 + FlipcolTemplate::MARGIN)*2}px"}
      -flipboard_content.each do |template, items|
        .flipcol
          -template.template.each do |subcol_or_flip_template|
            -if subcol_or_flip_template.dup.flatten == subcol_or_flip_template
              =render_flip_item(items.shift, subcol_or_flip_template) unless items.empty?
            -else
              .flipsubcol
                -subcol_or_flip_template.each do |flip_template|
                  =render_flip_item(items.shift, flip_template) unless items.empty?


  #flipboard_footer.container
    .row
      .twelvecol
        .fr
          =link_to_function("Right", "Flipboard.scrollJump()", :class => "flipboard_nav", :id => "flipboard_left")
          =link_to_function("P/P", "Flipboard.playPause()",:id => "flipboard_play_pause",:class => "flipboard_nav pause")
          =link_to_function("Left", "Flipboard.scrollJump()", :class => "flipboard_nav", :id => "flipboard_right")
