=javascript_include_tag('client/jquery.hotkeys')

:javascript
  var Flipboard = {
    timer: null,
    scrolling: 0,
    direction: 1,
    hoverOn: function(flip){
      console.log("Hover On");
      if(!flip.hasClass('hovering')){
        flip.children('.hover').show();
      }
    },
    hoverOff: function(flip){
    
    },
    startScroll: function(){
      Flipboard.timer = setInterval("Flipboard.scroll()",55);
    },
    stopScroll: function(){
      clearInterval(Flipboard.timer);
    },
    scroll: function(){
      $('#flipboard').css('left', $('#flipboard').position().left - Flipboard.direction);
    },
    scrollJump: function(right){
      if(!Flipboard.scrolling){
        Flipboard.scrolling = 1;
        Flipboard.stopScroll()
        $('#flipboard').animate({'left':(right ? '-' : '+') + '=240'}, 600, function(){
          Flipboard.scrolling = 0;
          Flipboard.direction = (right ? 1 : -1);
          Flipboard.startScroll();
        });
      }
    }
  };
  $(document).ready(function() {
    $(document).scrollTop(680);
    $('body').bind('keydown','right',function(){Flipboard.scrollJump(1);});
    $('body').bind('keydown','left',function(){Flipboard.scrollJump(0);});
    $('#flipboard .flip').hover(function(){Flipboard.hoverOn($(this));}, function(){Flipboard.hoverOff($(this));});
    //setTimeout("Flipboard.startScroll()",2000);
  });

:ruby
  @flipitems = [@pages_sections[0], "register", random_sponsor] + (@pages_sections[1..@pages_sections.size] + get_latest_tweets_from("PICNICfestival",10,false,true) + Member.with_badge(:picnic11_speaker).all).randomize
  
#flipboard_wrapper{:style => "display:block"}
  #flipboard_strip
    #flipboard
      .flipcol
        -FlipcolTemplate.new(0).template.each do |flip_template|
          =render_flip_item(@flipitems.shift, flip_template)
      -while !@flipitems.empty?
        .flipcol
          -FlipcolTemplate.new.template.each do |subcol_or_flip_template|
            -if subcol_or_flip_template.dup.flatten == subcol_or_flip_template
              -break if @flipitems.empty?
              =render_flip_item(@flipitems.shift, subcol_or_flip_template)
            -else
              .flipsubcol
                -subcol_or_flip_template.each do |flip_template|
                  -break if @flipitems.empty?
                  =render_flip_item(@flipitems.shift, flip_template)


  #flipboard_footer.container
    .row
      .twelvecol
        .fr
          =link_to_function("Right", "Flipboard.stopScroll()", :class=>"fliboard_nav", :id=>"flipboard_left")
          =link_to_function("Left", "Flipboard.startScroll()", :class=>"fliboard_nav", :id=>"flipboard_right")