:javascript
  $(document).ready(function() {
    $(document).scrollTop(669);
    $('body').bind('keydown','right',function(){Flipboard.scrollJump(1);});
    $('body').bind('keydown','left',function(){Flipboard.scrollJump(0);});
    $('#flipboard .flip').has('.hover').hover(
      function() {
        Flipboard.hoverOn($(this));
      }, function(){
        Flipboard.hoverOff($(this));
      });
    //setTimeout("Flipboard.startScroll()",2000);
  });
#flipboard_wrapper{:style => "display:block"}
  #flipboard_strip
    #flipboard
      -flipboard_content.each do |template, items|
        .flipcol
          -template.template.each do |subcol_or_flip_template|
            -if subcol_or_flip_template.dup.flatten == subcol_or_flip_template
              =render_flip_item(items.shift, subcol_or_flip_template) unless items.empty?
            -else
              .flipsubcol
                -subcol_or_flip_template.each do |flip_template|
                  =render_flip_item(items.shift, flip_template) unless items.empty?


  #flipboard_footer.container
    .row
      .twelvecol
        .fr
          =link_to_function("Right", "Flipboard.scrollJump(1)", :class => "fliboard_nav", :id => "flipboard_left")
          =link_to_function("Left", "Flipboard.scrollJump(0)", :class => "fliboard_nav", :id => "flipboard_right")
