%h1 Test
-form_tag '/delegate/receive' do
  =label_tag "REGDATE"
  =text_field_tag "REGDATE", "05-20-2011"
  %br

  =label_tag "PRESENT"
  =text_field_tag "PRESENT", "1"
  %br
  =label_tag "TYPE"
  =text_field_tag "TYPE", "Attendee"
  %br
  
  =label_tag "PROMO"
  =text_field_tag "PROMO", ""
  %br
  
  =label_tag "FIRSTNAME"
  =text_field_tag "FIRSTNAME", "Sven"
  %br
  
  =label_tag "LASTNAME"
  =text_field_tag "LASTNAME", "Bordes"
  %br
  
  =label_tag "GENDER"
  =text_field_tag "GENDER", "M"
  %br
  
  =label_tag "ORGANISATION"
  =text_field_tag "ORGANISATION", "Eventpartners"
  %br
  
  =label_tag "BRANCH"
  =text_field_tag "BRANCH", "Event Registration"
  %br
  
  =label_tag "FUNCTION"
  =text_field_tag "FUNCTION", "CEO"
  %br
  
  =label_tag "EMAIL"
  =text_field_tag "EMAIL", "sven@eventpartners.nl"
  %br
  
  =label_tag "TWITTER"
  =text_field_tag "TWITTER", "svenevent"
  %br
  
  =label_tag "TICKET_WED"
  =text_field_tag "TICKET_WED", "0"
  %br
  
  =label_tag "TICKET_THU"
  =text_field_tag "TICKET_THU", "0"
  %br
  
  =label_tag "TICKET_FRI"
  =text_field_tag "TICKET_FRI", "0"
  %br
  
  =label_tag "TICKET_3"
  =text_field_tag "TICKET_3", "1"
  %br
  
  =label_tag "DINNER_WED"
  =text_field_tag "DINNER_WED", "1"
  %br
  
  =label_tag "DINNER_THU"
  =text_field_tag "DINNER_THU", "1"
  %br
  =label_tag "SIGNATURE"
  =text_field_tag "SIGNATURE", "mjArIck5jsJq81s6o9CB/pwe4Oo="
  %br
  =submit_tag