-content_for(:head) do
  =javascript_include_tag :ckeditor
  
.shout_form{:id => "#{shout.new_record? ? 'new_shout_form' : "edit_shout_form"}"}
  -semantic_form_for(shout, :html => {:multipart => true}) do |form|
    =hidden_field_tag :redirect_to, params[:redirect_to]
    -form.inputs do
      =form.input :text, :as => :ck_text, :label => "Text", :input_html => {:cols => 35, :rows => 4, :class => "shout_text_input", :tabindex => 1}
      =form.input :tag_list, :label => "Themes", :help => "Please enter any themes which this story relates too (separated by commas)"
      =form.input :attach_type, :as => :hidden
      -if shout.has_attachable? && shout.attachable.valid?
        =form.input :delete_attachable, :as => :hidden
        -if !shout.delete_attachable?
          %li.attachable_preview
            %span.shout_type_label
              =shout.attachable_type.underscore.humanize
            -if shout.attachable_type=="Document"
              =render("shouts/document_form", :form => form)
            -else
              =image_for(shout.attachable, "150x", :alt => '') if shout.attachable.has_image?
              =link_to(shout.attachable.title, shout.attachable.url, :target => "_blank", :class => "attachable_link_url") if shout.attachable.is_a?(Link)
            =link_to_function("x remove #{shout.attachable_type.downcase}", "ShoutForm.remove_attachable('#{shout.try(:id)}')", :class => "remove_link")
        =form.commit_button :label => "Share", :button_html => {:class =>'shout_share_button'}
      -else
        =render "shouts/attach_menu", :shout => shout
        =render("shouts/attach_forms", :form => form)
        =form.commit_button :label => "#{shout.new_record? ? 'Post' : 'Update'}", :button_html => {:class =>'shout_share_button'}