#shout_form.shout_form
  -semantic_form_for(shout, :html => {:onSubmit => shout_on_submit(shout), :multipart => true}) do |form|
    =hidden_field_tag :in_moderation, params[:in_moderation]
    =hidden_field_tag :redirect_to, params[:redirect_to]
    -form.inputs do
      =form.input :tag_list, :as => :hidden
      =form.input :shout_type, :as => :hidden
      =form.input :text, :label => "What do you want to say?", :input_html => {:cols => 35, :rows => 4, :class => "conversation_text_input", :tabindex => 1}
      -if shout.has_attachable? && shout.attachable.valid?
        =form.input :delete_attachable, :as => :hidden
        -if !shout.delete_attachable?
          .attachable_preview
            %span.conversation_type_label.video_label
              =shout.attachable_type.underscore.humanize
            =image_for(shout.attachable, "150x", :alt => '') if shout.attachable.has_image?
            =link_to(shout.attachable.title, shout.attachable.url, :target => "_blank", :class => "attachable_link_url") if shout.attachable.is_a?(Link)
            =render("shouts/poll_question_form", :form => form)            
            =link_to_function("x remove #{shout.attachable_type.titleize.downcase}", "ShoutForm.remove_attachable()", :class => "remove_link")
        =form.commit_button :label => "Share", :button_html => {:class =>'shout_share_button'}
      -else
        =render "shouts/attach_menu", :active => shout.attachable_type, :shout => shout
        =form.commit_button :label => "Share", :button_html => {:class =>'shout_share_button'}
        =render("shouts/attach_forms", :form => form)
      =image_tag "ajax_loader_squares.gif", :style => "display: none;", :class => "shout_form_submit_loader"
      -form.semantic_fields_for :location do |fields|
        =fields.input :lat, :as => :hidden
        =fields.input :lng, :as => :hidden
  %div{:style => "display:none"}
    =content_tag(:iframe, '', :id => 'photo_upload_iframe', :name => 'photo_upload_iframe')
      
      

