.flip.flip_tweet.x1.y2
  .padding
    .text2
      =highlight_twitter_all(flipitem.text)
    .text_small="Posted on #{flipitem.date.strftime("%a %b %d")}"
  .flip_footer
    TWITTER
    %strong=link_to("@PICNICFESTIVAL", "http://www.twitter.com/picnicfestival", :target => "_blank")