-no_content_row
-title "Connections", :hidden => true
-content_for :head do
  :javascript

    $(document).ready(function(){
      $('.cycle').cycle({
        fx: 'scrollHorz',
        speed: 'slow',
        timeout: 8000,
        easing: 'easeOutQuint',
        pager: '.cycle_nav',
        next: '.cycle_next',
        prev: '.cycle_prev'
      });
    });

    var TagsList = {
      show: function(tag) {
        $('.connection_tags_list li').removeClass('active_tag');
        $('.connection_tags_list li#connection_tag_' + tag).addClass('active_tag');
        $('.tags_bottom').hide();
        $('#tags_bottom_' + tag).show();
      }
    };
.row
  #bring_wrapper.twelvecol
    %h2#bring_title.connection_title
      Other people are bringing...
    .cycle_nav
    #bring_carousel.cycle
      -@bring_members.each_slice(4) do |members|
        =render "connections_bring_box", :members => members
  #tags_wrapper.twelvecol
    .tags_top
      .tags_top_inner
        -unless @member_tags.empty?
          %h2#member_tags_title.connection_title
            People like you
          .connection_tags_list#member_connection_tags_list
            %ul
              -@member_tags.each do |tag|
                %li{tag_li_attributes(tag, @member_tags + @theme_tags)}
                  =link_to_function tag, "TagsList.show('#{tag}')", :class => 'tag'
        %h2#tags_title.connection_title
          Top tags
        .connection_tags_list  
          %ul
            -@theme_tags.each do |tag|
              %li{tag_li_attributes(tag, @member_tags + @theme_tags)}
                =link_to_function tag, "TagsList.show('#{tag.name.fully_underscore}')", :class => 'tag'
      -@member_tags.each do |tag|
        .tags_bottom{tags_bottom_attributes(tag, @member_tags + @theme_tags)}
          -Member.tagged_with(tag).not_including(logged_in_member).random.limit(15).each do |member|
            =link_to image_for(member, '50x50#'), member, :class => 'tag_profile_img_link'
      -@theme_tags.each do |tag|
        .tags_bottom{tags_bottom_attributes(tag, @member_tags + @theme_tags)}
          -Member.tagged_with(tag).not_including(logged_in_member).random.limit(15).each do |member|
            =link_to image_for(member, '50x50#'), member, :class => 'tag_profile_img_link'
  #relevant_connections.sixcol
    %h2.connection_title Relevant connections
    %ul.member_lst.lst
      =render_connections(@connections)
  #people_near_me.sixcol.last  
    %h2.connection_title 
      People near me
    =google_map(@nearby_members, :width => 550, :height => 300, :centre => logged_in_member.lat_lng || [30,0], :zoom => 5, :map_options => "scrollwheel:false,disableDefaultUI:true", :infoboxes => true)




-if false              
  .row
    =#render :partial => 'themes/trending'
    .fourcol
      #find_someone
        %h2.connection_title Find someone
        #find_someone_search_box
          %form{ :action => "/search/results", :method => "post" }
            %input#search_field{ :name => "term", :type => "text", :value => "Search", :onfocus => "var element = document.getElementById('search_field');element.value='';" }
            %input#search_icon{ :name => "commit", :title => "search", :value => "search" }
      #connections_map
        %h2.connection_title People near you
        =google_map([], :width => 350, :height => 300, :centre => [30, 0], :zoom => 2, :map_options => "scrollwheel:false,disableDefaultUI:true")
      #connection_themes
        %h4 Themes
        %ul.lst
          -Tag.all.each do |tag|
            %li
              =link_to_self tag, :class=>'tag' 
    .fourcol.last  
      %h2.connection_title People recently interacting with you
    .fourcol
      -if logged_in_member.tag_list.empty?
        .connection_box
          %h2.connection_title New people that share the real you
          %p
            You haven't yet told us about the real you. Click
            =fancybox_edit(logged_in_member, :tags_list, :partial => "members/themes_form", :link_text => 'here', :redirect_to => connections_path)
            to do so.
      -elsif !@same_tag_members.empty?
        =render "connection_box", :title => "New people that share the real you", :members => @same_tag_members, :showing_themes => false
      -if logged_in_member.shouts.empty?
        .connection_box
          %h2.connection_title People that share themes with you
          %p
            You haven't yet posted any discussions. Click
            =link_to 'here', ''
            to do so.
      -elsif !@same_theme_members.empty?
        =render "connection_box", :title => "People that share themes with you", :members => @same_theme_members, :showing_themes => true



.row    
  -options_panel do
    =back_link
    
    
    