-no_content_row
-title "Club", :hidden => true
.row
  =render :partial => 'themes/trending'
  .tencol.last
    .fr
      =link_to_box("Start a discussion", new_shout_path, :class => "bttn_l new_comment_link", :scrolling => false)
    /%h4.flcb Stories
    .flcb.stories_filter
      Showing:
      %ul
        =li_with_active true, link_to('Latest')
        =li_with_active false, link_to('Popular')
    =render_shouts(:latest)
    .clear
    =#render_news_feed

.row    
  -options_panel do
    =back_link