-title "Club", :hidden => true
#club_intro.row
  .sixcol
    =holding_image("800x500")
  .sixcol.last
    %h3 Picnic Club
    %p
      Duis aliquet egestas purus in blandit. Curabitur vulputate, ligula lacinia scelerisque tempor, lacus lacus ornare ante, ac egestas est urna sit.

.row    
  -options_panel do
    =back_link