-content_for :head do
  :javascript

    var ClubWelcome = {
  
      hide: function() {
        $('#club_welcome').animate(
          {height:'toggle'},
          500,
          function(){$('#show_this').show();$('#hide_this').hide();}
        );
      },

      searchLoading: function() {
        $('#search_term').addClass('loading');
      },
      
      searchComplete: function() {
        $('#search_term').removeClass('loading');
      },
      
      show: function() {
        $('#club_welcome').animate(
          {height:'toggle'},
          500,
          function(){$('#show_this').hide();$('#hide_this').show();}
        );
      }
  
    };
-no_content_row
#club_intro_page
  #club_welcome.row
    .fivecol
      =image_tag 'club_intro_image.png'
    .sixcol
      %h2
        Welcome to the PICNIC Club
      %p.club_welcome_intro_text
        Find inspiration from speakers, the PICNIC team and advisors. Have fun, experiment and share ideas and conversations with other clubbers. It's open free and open to all. Why not sign up today?
    .onecol.last
  #hide_this.row
    .fivecol
    .sevencol.last
      =link_to_function "Hide this", "ClubWelcome.hide()"
  #show_this.row{:style => "display: none;"}
    .fivecol
    .sevencol.last
      =link_to_function "Show this", "ClubWelcome.show()"
  #club_intro_connect.row
    .fivecol
      %h2 Find someone
      -semantic_remote_form_for Search.new(:models => ['Member']) do |form|
        -form.inputs do
          =form.input :term, :label => false
          =form.input :models, :as => :hidden
          =observe_field 'search_term', :url => {:controller => "search", :action => "create", :autocomplete => true, :results_view_path => 'club'}, :frequency => 0.5, :loading => "ClubWelcome.searchLoading()", :complete => "ClubWelcome.searchComplete()", :with => "'search[models][]=Member&search[term]=' + value", :update => 'find_someone_results'
      %ul#find_someone_results
        -@find_someone_members.each do |member|
          =render "find_someone_result", :member => member
    .sevencol.last
      %h2 Latest members
      =google_map(@latest_members, :width => 646, :height => 280, :centre => [30, 0], :zoom => 2, :infoboxes => true)
      #latest_members_photos
        -@latest_members.limit(9).each do |member|
          -link_to member do
            =image_for member, '70x70#'
=#image_tag 'club_intro.jpg'
    