.twelvecol
  - semantic_form_for member, :html => {:multipart => true} do |form|
    -form.inputs do
      =form.input :fb_user_id, :as => :hidden if site_uses_fb_connect?
      =#form.input :image, :as => :file
      =form.input :forename
      =form.input :surname
      =form.input :is_admin, :input_html => {:disabled => logged_in_as?(member) ? 'disabled' : nil}, :label => 'This member is an admin' if admin_logged_in?
      =form.input :what_i_bring, :input_html => {:rows => 3}, :label => "What I bring"
      =form.input :bio, :input_html => {:rows => 5}
      =form.input :job_title if member.allowed_job_title?
      =form.input :email
      =form.input :password, :as => :password
      =form.input :password_confirmation, :as => :password, :input_html => {:size => 25}
      =form.input :no_notification_emails, :label => "Don't send me email notifications"
    - form.buttons do
      = form.commit_button