%ul{:id => "friend_list_#{member.id}", :class => "lst member_friend_list"}
  -member.friends.randomize.first(10).each do |member|
    %li.member_friend_item
      =link_to(image_for(member, '50x50#'), member)
      =link_to(member.forename, member, :class => "member_name")