%li{:id => "grid_item_member_#{member.id}"}
  =link_to(image_for(member, "130x130#", :width => 130, :height => 130), member, :class => 'member_grid_image')
  .member_grid_info
    =link_to_self(member, :title => member)
    =content_tag(:span, member.job_title) if team