-team = ((defined? team) ? team : false)
-list_id = (defined? list_id) ? list_id : nil
#member_grid
  %ul.lst{:id => list_id}
    -members.each do |member|
      =render("members/grid_item", :member => member, :team => team)
