-team = ((defined? team) ? team : false)
#member_grid
  %ul.lst
    -members.each do |member|
      %li
        =link_to(image_for(member, "100x100#"), member, :class => 'member_grid_image')
        .member_grid_info
          =link_to_self(member)
          =member.job_title if team