=themes_facelist_javascript(:tag_list => object.tag_list, :intro_text => "e.g. mobility")
#member_themes_form_wrapper
  %h2 About the real me
  %p
    Tell us what you're about - choose from existing themes or feel free
    %br
    to create new ones.
  -semantic_form_for(object) do |form|
    -form.inputs do
      -if false
        %li#member_themes_li=text_field_tag :tag_list, "", :onkeypress => "return event.keyCode!=13", :id => "member_themes_form"
      %li.text
        =text_field_tag :themes_text, "", :onkeypress => "return event.keyCode!=13"
    -form.buttons do
      =form.commit_button "Save"
