-title "Join the club", :hidden => true

#register_picnic_club.register_box
  #book_on_picnic
    %h2 Book for PICNIC '11 Festival
    %p=link_to('Click here to go to the registration page and book your tickets', 'http://www.eventpartners04.nl/picnic', :target => '_blank')
  %hr
    %h2 Join the club
  .clear
  %p
    It's easy to log in with one of these sites you already use.
    %br
    We promise not to post to your account or spam your friends.
  =render("sessions/auth_links")

  %p.show_the_hard_way
    =link_to_function "Or enter your email address manually...", "$('#the_hard_way').toggle('blind');$('html,body').animate({scrollTop:$('#the_hard_way').offset().top-100},'slow',function(){$('#member_email').focus();});"
  .clear
  #the_hard_way{:style => @member.errors.empty? ? "display:none" : ''}
    %div
      %hr  
      -semantic_form_for @member do |form|
        -form.inputs do
          -form.with_options(:input_html => {:size => 30}) do |opt|
            =opt.input :email
            =opt.input :password
            =opt.input :forename, :label => 'First name'
            =opt.input :surname, :label => 'Last name'
          =form.input :country, :label => 'Where are you from?', :prompt => 'Select a country', :as => :country
          =form.input :conference_delegate_id, :as => :hidden
          -if @member.validate_spam_answer
            =form.input :spam_answer, :as => :hidden
          -else
            =form.input :spam_answer, :label => @member.spam_question, :help => "Please help us keep the bots off our Picnic blanket by answering this question:", :input_html => {:value => ''}
          =form.commit_button "Go &gt; &gt;"
-options_panel do
  =back_link