-title "Join the club", :hidden => true

#register_picnic_club.register_box
  %h2 Join the club
  .clear
  %h3 The easy way
  %p
    Pull in your details from elsewhere.
  =render("sessions/auth_links")
  %p.small_print
    (We won't post anything to these services without your permission)
    
  %hr  
  
  %h3 The hard way
  %p Start from scratch
  -semantic_form_for @member do |form|
    -form.inputs do
      -form.with_options(:input_html => {:size => 30}) do |opt|
        =opt.input :email
        =opt.input :password
        =opt.input :forename, :label => 'First name'
        =opt.input :surname, :label => 'Last name'
      =form.input :country, :label => 'Where are you from?', :prompt => 'Select a country', :as => :country
      =form.commit_button "Go &gt; &gt;"
-options_panel do
  =back_link