-no_content_row
.row
  =render 'members/what_i_bring', :object => @member, :small_print => 'You can edit this later if you want.', :options => {:fancy => false}
#example_what_i_brings.row.flcb
  %ul.lst
    -@other_members.each do |member|
      %li
        =image_for(member, "50x50#")
        %p
          %strong=member.full_name
          ="is bringing #{member.what_i_bring}"
    
