%h2 Tell us what you bring to picnic
-semantic_form_for @member do |form|
  =form.input :email, :as => :hidden
  =form.input :password, :as => :hidden
  =form.input :forename, :as => :hidden
  =form.input :surname, :as => :hidden
  =form.input :country, :as => :hidden
  -form.inputs do
    =form.input :what_i_bring, :as => :text, :input_html => {:rows => 5}
  -form.buttons do
    =form.commit_button 'Finish'