-title Blog.main.name

=render("blogs/nav")
#blog_content
  -if @blog_post_category
    =render("blog_post_categories/intro", :blog_post_category => @blog_post_category)
    %p=link_to("&larr; back", @blog_post_category)
  -else
    %p=link_to("&larr; View all posts", Blog.main)
  #single_blog_post
    %h1=@blog_post.title
    .single_blog_post_image
      =photo_for(@blog_post, '550x')
    .single_blog_post_details
      =add_video_players(@blog_post.text)
      =render("blog_posts/share_links", :blog_post => @blog_post)
  #blog_post_authors
    .pt_bx
      .pt_bx_h Author
      .pt_bx_in
        =link_to(image_for(@blog_post.member, "60x60#"), @blog_post.member, :class => "author_image")
        %strong=link_to_self(@blog_post.member, :class => "author_title")
        %p=truncate(@blog_post.member.bio, :length => 150)
-options_panel do
  =back_link
  =link_if_allowed "Manage blog categories", blog_post_categories_proc
  =link_if_allowed "New blog post", new_blog_blog_post_proc(@blog)
  = link_if_allowed "Edit blog post", edit_blog_post_proc(@blog_post)
  = link_if_allowed "Delete blog post", @blog_post, :confirm => 'Are you sure?', :method => :delete