-no_content_row
.row
  =render :partial => 'themes/trending'
  .tencol.last
    -@stories.each_with_col_name do |story, column_name|
      %div{:class => column_name}
        =render "story", :story => story