-x = FlipcolTemplate::X1
-y = (FlipcolTemplate::Y1 * 2) + FlipcolTemplate::MARGIN
.flip.x1.y2
  =link_to(image_or_photo_for(flipitem, "#{x}x#{y}#"),flipitem)
  .hover
    .padding
      %h6=flipitem.created_at.strftime("%d %B %Y")
      .text2
        =auto_link(flipitem.summary(150, :strip_tags => true))