.twelve_col
  %h1 Conference Delegates from Eventpartners
  %table#delegates
    %tbody
      %tr.header
        - ConferenceDelegate::FIELDS_IN_ORDER.each do |field|
          %th=field.gsub('_', ' ').split(//).join("<br/>")
        %th="AUTHENTIC".split(//).join("<br/>")
      -@conference_delegates.each do |del|
        %tr
          -del.data_fields.each do |field|
            %td{:class => "#{field.try(:length) == 1 ? 'short' : ''}"}
              =field == del.data_fields.last ? del.signature : field
          %td=del.authentic? ? "1" : "0"
          %td=link_to_url(verify_delegate_url(:signature => del.signature))
  =will_paginate(@conference_delegates)