-no_content_row
.row
  .sevencol
    %h1
      Conference Delegates from Eventpartners for
      =params[:year]
  .fivecol.last
    #conference_delegate_years
      -(2011..Date.today.year).each do |year|
        -if year == params[:year].to_i
          %b=year
        -else
          =link_to(year,year_conference_delegates_path(year))
#conference_delegates_row.row
  .twelvecol
    %table#delegates
      %tbody
        %tr.header
          %th="CLUB MEMBER".split(//).join("<br/>")
          - ConferenceDelegate.nice_fields_in_order_for_year(params[:year]).each do |field|
            %th=field.gsub('_', ' ').split(//).join("<br/>")
          %th="AUTHENTIC".split(//).join("<br/>")
        -@conference_delegates.each do |del|
          %tr
            %td
              =del.member.nil? ? "No" : link_to('Yes', del.member)
            -del.data_fields.each_with_index do |field, idx|
              %td{:class => "#{field.try(:length) == 1 ? 'short' : ''}"}
                =(idx == (del.data_fields.length - 2)) ? del.signature : field
            %td=del.authentic? ? "1" : "0"
    =will_paginate(@conference_delegates)