-blog_post_category ||= nil
-blog_post_url = blog_post_category.nil? ? blog_post_path(blog_post) : blog_post_category_blog_post_path(blog_post_category, blog_post)
.blog_post
  .blog_post_image
    =link_to(photo_for(blog_post, '100x'), blog_post_url)
  .blog_post_details
    %h2.blog_post_title
      =link_to(blog_post.title, blog_post_url)
    %h3.blog_post_date
      =blog_post.created_at.strftime '%d.%m.%y'
    %p
      =truncate(strip_tags(blog_post.text), :length => 190)
      %br
      %strong
        =link_to("Read more...", blog_post_url)
      .details
        Posted by
        =link_to(blog_post.member.full_name, blog_post.member)
  %br.clear