%h2.newsbox_title
  =link_to_self(page_section,:class=>'newsbox_title_link')
-if page_section.has_photo?
  .newsbox_img=link_to(photo_for(page_section, '547x'), page_section)
%p.newsbox_text
  =page_section.is_a?(Page) ? (page_section.intro.blank? ? truncate(page_section.text.strip_tags, 350) : page_section.intro) : page_section.description
%p.newsbox_date
  =(page_section.is_a?(Page) ? page_section.publish_on : page_section.created_at).strftime("%e %B %Y")
=link_to "read more", page_section, :class=>'newsbox_arrow'
%br.clear