-@page_title = @section.name
-no_content_row
-unless @section.description.nil?
  .row
    %p.section_description
      =@section.description
#index_view.row
  -@pages_sections.each_with_col_name do |page_section, col_name|
    .item.fourcol{:class => "item_#{col_name}"}
      .item_border
        .item_inner
          %h3=link_to page_section, page_section
          =link_to(photo_for(page_section, "330x180#"), page_section, :class => 'item_img')
          %p=strip_tags description_for(page_section, :length => 140)
          =link_to 'More', page_section, :class => 'newsbox_arrow'
          %p.blog_like_news_date
            =(page_section.is_a?(Page) ? page_section.publish_on : page_section.created_at).strftime("%e %B %Y")
%br.clear
=will_paginate @pages_sections
-options_panel do
  =back_link
  =link_if_allowed 'Edit section', edit_section_proc(@section)
  =link_if_allowed 'Delete', @section, :method => :delete, :confirm => "Are you sure you want to delete this section? (its subsections and pages will also be deleted)"
  =link_if_allowed "New subsection", new_section_section_proc(@section)
  =link_if_allowed 'New page', new_section_page_proc(@section)
